# General
ENABLE_LOGIN_FORM=false
DEFAULT_USER_ROLE=user
ENABLE_PERSISTENT_CONFIG=false

# Ollama
OLLAMA_BASE_URL=http://host.docker.internal:11434

# Security Variables
WEBUI_SECRET_KEY=<<string>>
OFFLINE_MODE=true

# OAuth
ENABLE_OAUTH_SIGNUP=true
ENABLE_OAUTH_PERSISTENT_CONFIG=false
GOOGLE_CLIENT_ID=<<your-oauth-client-id>>
GOOGLE_CLIENT_SECRET=<<your-oauth-client-secret>>